.center 
{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.loading-icon
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: url(../img/loading.gif) center no-repeat #fff;
}
